.experiences {
    display: flex;
    flex-direction: column;
}

.experiences-body {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
}

.wave {
    width: 100%;
}

.experiences-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
}

.experience-date {
    font-size: 25px;
    font-weight: bold;
    color: var(--secundary-color);
}

.experience-company {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
}

.experience-position {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.experience {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 950px) {
    .experiences {
        display: flex;
        flex-direction: column;
    }
    
    .experiences-body {
        background-color: var(--primary-color);
        color: var(--text-color-inverse);
    }
    
    .wave {
        width: 100%;
    }
    
    .experiences-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin: 25px;
    }
    
    .experience-date {
        font-size: 25px;
        font-weight: bold;
        color: var(--secundary-color);
    }
    
    .experience-company {
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 5px;
    }
    
    .experience-position {
        font-weight: 500;
        font-size: 20px;
        margin-top: 20px;
    }
    
    .experience {
        padding: 0;
    }

    .experience-grid {
        display: grid;
        grid-template-columns: auto 2px auto;
        gap: 20px;
    }

    .line {
        background-color: var(--text-color-inverse);
        position: relative;
    }

    .line::before,
    .line::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--text-color-inverse);
        border-radius: 50%;

        position: absolute;
        top: -20px;
        left: -9px;
    }

    .line::after {
        top: 100%;
        z-index: 1;
    }
}