ul.schools-list li {
    list-style: circle;
    padding-bottom: 10px;
}

.school-school {
    color: rgb(199, 199, 193);
    font-size: 30px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    font-style: inherit;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.data {
    padding: 10;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 55px;
    color: rgb(39, 177, 195);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: rgb(167, 45, 80);  
}

.fa-arrow {
    color: var(--text-color-inverse)
}

@media (min-width: 950px) {
    ul.schools-list li {
        list-style: circle;
        padding-bottom: 10px;
    }
    
    .school-school {
        font-size: 20px;
        
    }
    
    .info {
        padding-bottom: 5px;
    }
    
    .data {
        font-size: 25x;
    }
    
    a {
        color: rgb(197, 30, 63);
    }
}